.search-page {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.search-page h1 {
    text-align: center;
    font-size: 2.5em;
    color: #444;
    margin-bottom: 20px;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.movies-grid .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movies-grid .movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.loading-spinner {
    text-align: center;
    font-size: 1.2em;
    color: #007BFF;
    margin: 20px 0;
    animation: fade 1s infinite;
}

@keyframes fade {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
