.userName {
    display: inline-flex;
    align-items: center;
    font-size: 16px; /* 이름 폰트 크기 */
    font-weight: bold; /* 이름 폰트 굵기 */
    color: #ffffff; /* 글자 색상 */
    margin-right: 8px; /* 아이콘과 간격 */
}
.userName :hover {
    pointer-events: bounding-box;
    cursor: pointer;
    color: #FFD700; /* 마우스 올렸을 때 글자 색상 */
    /* 크기 키우기 */
    transform: scale(1.1);
}
.kakaoIcon {
    display: inline-flex;
    background-color: #FEE500;
    color: #000;
    border: none;
    border-radius: 50%; /* 동그란 아이콘 */
    padding: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease;
    width: 36px; /* 아이콘 크기 */
    height: 36px;
    justify-content: center;
    align-items: center;
}

.kakaoIcon:hover {
    transform: scale(1.1); /* 마우스 올렸을 때 크기 커짐 */
    background-color: #FFD700;
}
