.category-page {
    background-color: #141414;
    color: white;
    padding: 20px;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.movie-item {
    text-decoration: none;
    color: white;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
}

.movie-image-container {
    position: relative;
}

.movie-item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.2s;
}

.movie-item:hover img {
    transform: scale(1.05);
}

.movie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: opacity 0.2s;
}

.movie-item:hover .movie-overlay {
    opacity: 1;
}

.movie-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #ffd700; /* 별표 색상 */
}

.genre-container {
    display: flex;
    flex-wrap: wrap; /* 줄 바꿈 허용 */
    gap: 8px; /* 장르 간 간격 */
    margin-top: 5px;
    justify-content: flex-end; /* 오른쪽 정렬 */
}

.genre-link {
    display: inline-block;
    padding: 3px 5px;
    margin-bottom: 3px;
    background-color: #333;
    color: #ffd700;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    width: 10%;
    text-align: center;
}

.genre-link:hover {
    background-color: #444;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.movie-release, .movie-rating {
    margin-top: 5px;
}
