.category-page {
    background-color: #141414;
    color: white;
    padding: 20px;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.movie-item {
    text-decoration: none;
    color: white;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
}

.movie-image-container {
    position: relative;
}

.movie-item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.2s;
}

.movie-item:hover img {
    transform: scale(1.05);
}

.movie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: opacity 0.2s;
}

.movie-item:hover .movie-overlay {
    opacity: 1;
}

.movie-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #ffd700; /* 별표 색상 */
}

.movie-release, .movie-rating {
    margin-top: 5px;
}
