.similar-movies-container {
    position: relative;
    padding: 20px 20px;
    background-color: #141414;
    color: #fff;
    flex-direction: column;
    align-items: center;
}

.similar-movies-container h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
}

.similar-movies-list {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
    gap: 15px;
    scrollbar-width: none;
    flex-wrap: nowrap; /* 기본 모드에서 한 줄로 */
}

.similar-movies-list.expanded {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    max-height: 100%;
}


.show-all-btn {
    margin-top: 15px;
    background-color: rgba(14, 13, 13, 0.64);
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.show-all-btn:hover {
    background-color: #f12a34;
}

.similar-movies-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.similar-movie {
    flex: 0 0 auto;
    width: 150px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s;
}

.similar-movie img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.2s;
}

.similar-movie:hover {
    transform: scale(1.05);
}

.similar-movie p {
    margin-top: 8px;
    font-size: 0.9rem;
    color: #ccc;
}

/* Scroll buttons */
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: none;
}

.scroll-button.left {
    left: 10px;
}

.scroll-button.right {
    right: 10px;
}

.scroll-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Show buttons on hover */
.similar-movies-container:hover .scroll-button {
    display: block;
}

/* Multi-line grid display for larger screens */
@media (min-width: 1024px) {
    .similar-movies-list {
        flex-wrap: wrap;
        max-height: 450px;
        row-gap: 20px;
        justify-content: center;
    }

    .similar-movie {
        width: 180px;
    }
}
