/* 전체 배경 및 설정 */
.home {
    background-color: #141414;
    color: white;
    margin: 0 auto;
    overflow-x: hidden;
}

/* 배너 스타일 */
.banner {
    height: 60vh;
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    padding: 12%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: auto;
    height:100%;

}

.banner h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    max-width: 80%;
    margin-left: 10%;
}

.banner p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    max-width: 80%;
    margin-left: 10%;
}

.banner button {
    background-color: rgba(220, 13, 13, 0.75);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    max-width: 80%;
    margin-left: 10%;
}

.banner button:hover{
    background-color: #ed010f;
}

.content-section {
    margin-top: 30px;
    padding: 0 20px;
}

.content-section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.content-row-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.content-row {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px 0;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.content-row::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}


.content-item {
    position: relative;
    min-width: 180px;
    max-width: 180px;
    flex: 0 0 auto;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
}

.content-item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.2s;
}

.content-item:hover img {
    transform: scale(1.05);
}

.movie-title {
    margin-top: 5px;
    color: #ccc;
    font-size: 0.9rem;
}

.content-item:hover .movie-info-hover {
    opacity: 1;
}

.slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.slide-button.left {
    left: 5px;
}

.slide-button.right {
    right: 5px;
}


.content-item:hover .movie-info-hover {
    opacity: 1;
}

.star-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    color: #FFD700; /* Gold color for stars */
    margin-bottom: 10px;
}

.full-star,
.half-star {
    color: #FFD700;
}

.empty-star {
    color: #ccc;
}
.rating-text {
     color: #ffd700;
     font-size: 0.9rem;
     font-weight: bold;
     margin-left: 5px;
 }



.movie-info-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    pointer-events: none;
}


.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view-all-button {
    background-color: transparent;
    border: none;
    color: #e50914;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    padding: 0 0;
    width: auto;
}

.view-all-button:hover {
    color: #f12a34;
}


@media (max-width: 768px) {
    .banner {
        height: 50vh;
    }

    .banner h1 {
        font-size: 2rem;
    }

    .banner p {
        font-size: 1rem;
    }

    .content-item {
        min-width: 120px;
    }
}