.toggleOverview {
    color: rgba(158, 152, 152, 0.42);
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}
.toggleOverview:hover {
    color: #0056b3;
}

.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: auto; /* 높이를 컨텐츠에 맞게 조정 */
    min-height: 50vh; /* 최소 높이 설정 */
    max-height: 100vh; /* 최대 높이 설정 */
    overflow: hidden; /* 기본적으로 숨김 */
}

.bannerContent {
    position: absolute; /* 부모 전체를 덮기 위해 absolute 사용 */
    top: 0;
    left: 0;
    width: 100%; /* 부모 너비 100% */
    height: 100%; /* 부모 높이 100% */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* 텍스트 가독성을 위한 배경 */
    border-radius: 8px;
    box-sizing: border-box; /* 패딩 포함 계산 */
}
.bannerContent h1 {
    font-size: 1.5rem; /* 제목 크기 */
    margin-bottom: 20px; /* 제목과 내용 간 간격 */
    color: #fff; /* 흰색 텍스트 */
}

.bannerContent p {
    line-height: 1.5; /* 텍스트 줄 간격 */
    font-size: 1.1rem; /* 제목 크기 */
    margin-bottom: 20px; /* 내용과 버튼 간 간격 */
    color: #e5e5e5; /* 연한 흰색 */
}

.bannerContent button {
    font-size: 1rem; /* 버튼 텍스트 크기 */
    padding: 10px 20px; /* 버튼 내부 여백 */
    background-color: #e50914; /* 넷플릭스 스타일 빨간색 */
    color: #fff; /* 버튼 텍스트 흰색 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bannerContent button:hover {
    background-color: #ff000d; /* 호버 시 더 밝은 빨간색 */
}

.toggleButton {
    font-weight: bold;
    color: rgba(158, 152, 152, 0.42);
    cursor: pointer;
    margin-left: 5px;
}
